// =========================================================
// * Soft UI Dashboard - v1.0.3
// =========================================================
//
// * Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
// * Copyright 2021 Creative Tim (https://www.creative-tim.com)
//
// Coded by www.creative-tim.com
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

// Bootstrap Functions
@import "~bootstrap/scss/functions";

// Theme Variables
@import "soft-ui-dashboard/variables";

// Bootstrap Core
@import "~bootstrap/scss/bootstrap";

// Theme Core
@import "soft-ui-dashboard/theme";
