.centered-tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.clickable {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.clickable:hover {
  color: $success;
}
