/* Global custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track); /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover); /* Color of the scrollbar thumb on hover */
}

/* Fallback styling for other browsers */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track); /* thumb and track color */
}
